body {
    margin: auto;
  }

  header{
    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    line-height: 3em;
    color:rgb(63, 48, 48);
  }

  p {
    margin: auto;
    text-align: center;
    width: 960px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    color:rgb(63, 48, 48);
  }
  svg {
    display: block;
    margin: auto;
    background-color: rgb(63, 48, 48);
  }
  .pest{
    height:800;
    display: block;
  }
  .annotation-note-title{
    fill:white;
    font-size: large;
    font-weight: bold;
  }
  .tippy-box[data-theme~='light-border'] {
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid white;
    font-size:1.1em;
    font-family: serif;
    color:white;
    }

